<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %> </li>
        <% if current_user %>
          <li><%= link_to "logout", destroy_user_session_path, method: 'delete'  %> </li>
        <% else %>
          <li><%= link_to "sign up", new_user_registration_path %> </li>
          <li><%= link_to "login", new_user_session_path  %> </li>
        <% end %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<%= render "/shared/gadgets_search_form"  if current_user %>