<div class="container">
    <div id="products" class="row list-group">
        <% @gadgets.each do |gadget| %>
            <div class="item  col-xs-4 col-lg-4">
                <div class="thumbnail">
                    <%= image_tag(gadget.images.last.file.large, class: "group list-group-image") unless gadget.images.blank? %>
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading">
                            <%=gadget.name %>
                        </h4>
                        <p class="group inner list-group-item-text">
                            <%= gadget.description.truncate(40, omission: '... (continued)') %>
                        </p>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <p class="lead">
                                    <%= link_to "View Detail", gadget_path(gadget), class: "btn btn-primary" %></p>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <%= link_to "add image", new_gadget_image_path(gadget), class: "btn btn-primary" %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>
